.card {
  width: 300px;
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid gray; */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.card__img {
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 10px;
}

.card__bgImg {
  height: 250px;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
}

.card img {
  height: 250px;
  object-fit: contain;
  position: absolute;
  inset: 0;
  margin: auto;
  transition: all 0.5s ease;
}
.card img:hover {
  scale: 1.1;
}

.card__info {
  padding: 2rem 1rem;
  text-align: center;
}
